body {
  background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  font-family: Arial;
  color: white;
  text-align: center;
}

.search-box {
  margin: 20px;
}

input {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: #00c853;
  color: white;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
